#lin1{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    height: 700px;
    width: 100%;
}
#lin2{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
    background-size: cover;
    font-weight: 100;
    text-align: center;
    color: white;
    height: 300px;
    width: 100%;
}
#lin3{
    text-align: center;
    margin-right: 20x;
    margin-left: 20px;
}
#lin5{
    height: 200px;
    width: 100%;
    text-align: center;
    font-weight: 200;
}
#lin6{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    background-size: auto;
    color: white;
    text-align: center;
    height: 600px;
    width: 100%;
}
#name{
    background: transparent;
}
#email{
    background: transparent;
}.row{
    padding: 50px 100px 50px 100px;
    display: table;
}
#comment{    
    color: white;
    background: transparent;
    margin-left: 120px;
    margin-right: 100px;
    height: 300px;
    width: 80%;
}
h1{
    text-align: center;
}
.col-md-3{
    padding: 10px 10px 10px 10px;
}.col-md-8{
    margin-left: 350px;
    margin-right: 200px;
}footer{
    text-align: center;
}
#design{
    display: none;
}#develop{
    display: none;
}
#services{
    display: none;
}
.clickable {
    cursor: pointer;
  }
input[type = text],textarea{
    color: white
}